* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.select-date {
    display: flex;
    justify-content: space-between;
}

/*
.select-defore-button, .select-after-button{
    display: flex;
    align-items: center;
}
*/

.btn, .btn-in-calendar {
    all: unset;
    cursor: pointer;
    border-radius: 9999px;
    width: 25px;
    height: 25px;
    background: #eff2f4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-in-calendar{
    background: #fff;
}

.select-date {
    border-radius: 9999px;
    padding: 4px;
    min-height: 33px;
    border: 2px solid #eff2f4;
    max-width: 300px;
}

.display-input {
    all: unset;
    cursor: pointer;
}

.display-date-value{
    display: flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}

.calendar-wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 2px 2px 9px 2px rgba(50, 42, 42, 0.09);
    background: #fff;
    margin-left: 10px;

    font-family: Arial;

    gap: 12px;
}

.calendar-header-date{
    font-weight: 600;
    font-size: 16px;
    color: #525c69;
    display: flex;
    gap: 3px;
}

.line {
    height: 1px;
    width: 100%;
    background: #525c69;
}

.calendar-container-select, .calendar-buttons-select{
    display: flex;
    gap: 12px;

}

.calendar-select-month{
    border-radius: 42px;
    align-items: center;
    padding: 6px;
    height: 40px;
    background: #d9e8f7;
    display: flex;
    gap: 13px;
    justify-content: space-between;
}

.calendar-buttons-select{
    flex-direction: row;
}

.calendar-select-year {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 42px;
    padding: 15px;
    height: 40px;
    background: #eff2f4;
    gap: 4px;
}

.daysWeek{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 5px;
}

/*.render-content{*/
/*    display: grid;*/
/*    text-align: center;*/
/*    grid-template-columns: repeat(7, 1fr);*/
/*    gap: 5px;*/
/*    font-size: 14px;*/
/*}*/

/* для дней */
.render-content.render-content--days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 колонок - недели */
    gap: 6px;
}

/* для месяцев */
.render-content.render-content--months {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 x 4 сетка */
    gap: 8px;
}

.display-list-months{
    border-radius: 9999px;
    padding: 14px 10px;
    text-align: center;
}

.display-list-months:hover{
    transition:  ease-in-out 0.3s;
    background: #0063c6;
    cursor: pointer;
    color: #fff;
}
/*#0063c6*/
.calendar-day, .cur-active-calendar-day{
    padding: 10px;
    border-radius: 9999px;
}

.cur-active-calendar-day, .cur-active-calendar-month{
    color: #fff;
    background: #0063c6;
    cursor: pointer;
}

.calendar-day:hover{
    transition:  ease-in-out 0.3s;
    background: #0063c6;
    cursor: pointer;
    color: #fff;
}

.month-button{
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}
.disabled{
    color: #d7d9db;
}

.active{
    color: #525c69;
}