*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.select-date{
    display: flex;
    justify-content: space-between;
}

.select-defore-button, .select-after-button{
    display: flex;
    align-items: center;
}

.btn{
    all: unset;
    cursor: pointer;
    border-radius: 9999px;
    width: 25px;
    height: 25px;
    background: #eff2f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-date{
    border-radius: 9999px;
    padding: 4px;
    min-height: 33px;
    border: 2px solid #eff2f4;
    max-width: 300px;
}

.display-input{
    all: unset;
    cursor: pointer;
}

.display-date-value{
    display: flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}

.calendar-wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 24px;
    width: 332px;
    height: 376px;
    box-shadow: 2px 2px 9px 2px rgba(50, 42, 42, 0.09);
    background: #fff;
    margin-left: 10px;

    font-family: Arial;

    gap: 12px;
}

.calendar-header-date{
    font-weight: 600;
    font-size: 16px;
    color: #525c69;
}

.line {
    height: 1px;
    width: 100%;
    background: #525c69;
}

.calendar-container-select{
    display: flex;
    gap: 12px;
}

.calendar-select-month{
    border-radius: 42px;
    align-items: center;
    padding: 6px;
    height: 40px;
    background: #d9e8f7;
    display: flex;
    gap: 13px;
}

.calendar-select-year {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 42px;
    padding: 15px;
    height: 40px;
    background: #eff2f4;
}